body{
    background-color: #cde191f3;
    font-family: Verdana, sans-serif;
}

.header{
    background-color:rgb(151, 164, 109);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.card{
    background-color: rgb(232, 241, 179);
    padding:12px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

#values{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.value-item{
   align-items: center;
}

.label{
    color: #6f7567;
    font-weight: 300;
}

.number{
    font-weight: 600;
}

.status{
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

.status.gut{
    background-color: green;
}

.status.kritisch{
    background-color: orange;
}

.status.schlecht{
    background-color: red;
}

.history{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(232, 241, 179);
    margin: 20px;
}

.footer{
    color: #000000;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 700px){
  .values{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .history-list{
    display: grid;
    grid-template-columns: 1fr;
  }
  .history-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#history-list{
    display: block;
}

.history-item{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
}

.history-time{
    font-size: 12px;
    color: #23281b;
}

.history-temp{
    font-weight: 600;
}

.history-hum{
    font-weight: 600;
}

.history-status{
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.history-status.gut{
    background-color: green;
}

.history-status.kritisch{
    background-color: orange;
}

.history-status.schlecht{
    background-color: red;
}

button {
    margin-top: 12px;
    padding: 8px 16px;
    background: #01100e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.visable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.invisible{
    display: none;
}

.admin-panel {
    background: rgb(174, 193, 127);
    border-radius: 12px;
    padding: 16px 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
}

.admin-panel summary {
    font-weight: bold;
    color: #070707;
    cursor: pointer;
    padding: 4px 0;
}

.admin-content {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.admin-content select {
    padding: 6px 10px;
    border: 1px solid #96a75f;
    border-radius: 4px;
}

.admin-content button {
    padding: 6px 16px;
    background: #00695c;
    color: rgb(251, 250, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-content button:hover {
    background: #004d40;
}

body.dark {
  background: #1a1a2e;
  color: #e0e0e0;
}

body.dark .history-time,
body.dark .card,
body.dark .history,
body.dark .admin-panel {
  background: #16213e;
  color: #e0e0e0;
}

body.dark .admin-panel summary,
body.dark .footer{
    color: white;
}

body.dark .header{
    background: rgb(48, 48, 78)
}

body.dark button{
    color:#000000;
    background: rgb(168, 164, 164);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  transform: translateX(-50%);
  background-color: #d4c8c8; /* White background color */
  color: #a02929; /* red text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}