body{
    background-color: #cde191f3;
    font-family: Verdana, sans-serif;
}

.header{
    background-color:rgb(151, 164, 109);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.card{
    background-color: rgb(232, 241, 179);
    padding:12px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.values{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.value-item{
   align-items: center;
}

.label{
    color: #6f7567;
    font-weight: 300;
}

.number{
    font-weight: 600;
}

.status{
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

.status.gut{
    background-color: green;
}

.status.kritisch{
    background-color: orange;
}

.status.schlecht{
    background-color: red;
}

.history{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(232, 241, 179);
    margin: 20px;
}

.footer{
    color: #000000;
    text-align: center;
    font-size: 12px;
}

@media (max-width: 700px){
  .values{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .history-list{
    display: grid;
    grid-template-columns: 1fr;
  }
  .history-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

history-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.history-item{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(232, 241, 179);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}

.history-time{
    font-size: 12px;
    color: #23281b;
}

.history-temp{
    font-weight: 600;
}

.history-hum{
    font-weight: 600;
}

.history-status{
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.history-status.gut{
    background-color: green;
}

.history-status.kritisch{
    background-color: orange;
}

.history-status.schlecht{
    background-color: red;
}

button {
    margin-top: 12px;
    padding: 8px 16px;
    background: #00695c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.visable{
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.invisible{
    display: none;
}